<h1 class='text-center'>Your sightings</h1>

<% sightings.forEach(function(sighting, idx){ %>
	<div class="row">
		<div class = 'col-xs-12'>	
			<h2 class= 'text-center'><%=sighting.animal.name %></h3>
		</div>
	</div>
	<div class = 'row'>
		<div class = 'col-xs-4'>
			<h4>Date: <%=dates[idx]%></h4>
		</div>
		<div class = 'col-xs-4'>
			<h4>Lat: <%=sighting.latitude.toFixed(4)%>, Long: <%=sighting.longitude.toFixed(4)%> </h4>
		</div>
		<div class = 'col-xs-4'>
			<a href = '/sightings/<%=sighting.id%>' class ='btn btn-primary pull-right'>Edit!</a> <a href="/sightings/<%=sighting.id%>" class='btn btn-primary delete-btn pull-right'>Delete this sighting!</a>	
		</div>
	</div>
	<hr>
<% }) %>
<script type="text/javascript" src ='/js/deleteButton.js'></script>